/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/Opintopaivakirjasovellus/target/
/Opintopaivakirjasovellus/nbproject/
/Opintopaivakirjasovellus/testi.db/
/Opintopaivakirjasovellus/tietokanta.db
